absl-py==0.11.0
aiofiles==0.8.0
anyio==3.5.0
appdirs==1.4.3
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.2
attrs==19.3.0
Automat==0.8.0
Babel==2.9.1
backcall==0.1.0
backports.zoneinfo==0.2.1
bleach==3.1.1
blinker==1.4
boto3==1.22.5
botocore==1.25.5
bottle==0.12.15
cached-property==1.5.1
cachetools==4.0.0
caffe==1.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
cloud-init==21.4
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
ctop==1.0.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==2.2.1
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
eventlet==0.33.0
fiftyone==0.15.1
fiftyone-brain==0.8.2
fiftyone-db==0.3.0
filelock==3.0.12
flake8==3.7.9
flatbuffers==1.12
fonttools==4.29.1
future==0.18.2
gast==0.4.0
Glances==3.1.3
glob2==0.7
google-auth==1.5.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.29.1
h11==0.12.0
h5py==2.10.0
html5lib==1.0.1
htmlmin==0.1.12
httpcore==0.14.7
httplib2==0.14.0
httpx==0.22.0
hyperlink==19.0.0
icdiff==1.9.5
idna==2.8
imageio==2.4.1
importlib-metadata==1.5.0
incremental==16.10.1
influxdb==5.2.0
iotop==0.6
ipykernel==5.2.0
ipython==7.13.0
ipython_genutils==0.2.0
jedi==0.15.2
Jinja2==3.1.2
jmespath==1.0.0
joblib==1.0.1
json5==0.9.6
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyter-server==1.13.5
jupyterlab==3.3.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kaggle==1.5.12
kaleido==0.2.1
kaptan==0.5.10
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libtmux==0.8.2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.0.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
mongoengine==0.20.0
more-itertools==4.2.0
motor==2.5.1
mpi4py==3.0.3
multimethod==1.7
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.0.4
ndjson==0.3.1
nest-asyncio==1.5.4
netifaces==0.10.4
networkx==2.4
notebook==6.4.8
numpy==1.22.2
nvidia-ml-py==7.352.0
oauthlib==3.1.0
opencv-python-headless==4.5.5.64
opt-einsum==3.2.1
packaging==20.3
pandas==0.25.3
pandocfilters==1.5.0
parso==0.5.2
patool==1.12
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.14.3
ply==3.11
pprintpp==0.4.0
prometheus-client==0.13.1
prompt-toolkit==2.0.10
protobuf==3.11.4
psutil==5.5.1
ptyprocess==0.7.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.5.0
pycparser==2.21
pycryptodomex==3.6.1
pycuda==2019.1.2
pyflakes==2.1.1
Pygments==2.11.2
PyGObject==3.36.0
pygpu==0.7.6
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.12.3
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyrsistent==0.15.5
pyserial==3.4
pysmi==0.3.2
pysnmp==4.4.6
pystache==0.5.4
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-slugify==6.1.2
pytools==2019.1.1
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==0.5.1
PyYAML==5.3.1
pyzmq==18.1.1
requests==2.22.0
requests-oauthlib==1.0.0
requests-unixsocket==0.2.0
retrying==1.3.3
rfc3986==1.5.0
rsa==4.0
s3transfer==0.5.2
scikit-cuda==0.5.3
scikit-image==0.16.2
scikit-learn==1.0.2
scipy==1.7.3
SecretStorage==2.3.1
Send2Trash==1.8.0
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
sos==4.2
ssh-import-id==5.10
systemd-python==234
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tensorboard==2.7.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
text-unidecode==1.3
texttable==1.6.2
Theano==1.0.4
threadpoolctl==3.1.0
tmuxp==1.5.4
torch==1.10.1
torchvision==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
Twisted==18.9.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ubuntu-advantage-tools==27.6
ufw==0.36
unattended-upgrades==0.1
universal-analytics-python3==1.1.1
urllib3==1.25.8
virtualenv==20.0.17
visions==0.7.4
voxel51-eta==0.6.6
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.16.1
wrapt==1.11.2
xmltodict==0.12.0
zipp==1.0.0
zope.interface==4.7.1
